<div class="content" fxLayout="row" fxLayoutAlign="center">
  <mat-card elevation="5" fxFlex>
    <mat-card-header>
      <mat-card-title>
        <h2>{{ title }}</h2>
      </mat-card-title>
      <mat-card-subtitle>
        <h2>Angular Spring Starter</h2>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p *ngIf="notification" [class]="notification.msgType">{{notification.msgBody}}</p>
      <form (ngSubmit)="onSubmit()" *ngIf="!submitted" [formGroup]="form">
        <mat-form-field>
          <label>Username: </label>
          <input formControlName="username" matInput required>
        </mat-form-field>
        <mat-form-field>
          <label>Password: </label>
          <input formControlName="password" matInput required type="password">
        </mat-form-field>
        <mat-form-field>
          <label>First Name: </label>
          <input formControlName="firstname" matInput>
        </mat-form-field>
        <mat-form-field>
          <label>Last Name: </label>
          <input formControlName="lastname" matInput>
        </mat-form-field>
        <button [disabled]="!form.valid" color="primary" mat-raised-button type="submit">Sign up</button>
      </form>
      <br>
      <mat-spinner *ngIf="submitted" mode="indeterminate"></mat-spinner>
      <br>
      <hr>
      <p>
        <i>Created by
          <a href="https://gitlab.com/mailtoharutyunyan">Arayik Harutyunyan</a>
        </i>
      </p>
      <p>
        <i>Click below to go to repository</i>
      </p>
      <button (click)="repository()" color="accent" mat-raised-button>GitHub Repository</button>
    </mat-card-content>
  </mat-card>
</div>
